// Place all the styles related to the page controller here.
// They will automatically be included in application.css.sass.
// You can use Sass (SCSS) here: http://sass-lang.com/
.page
{
  background-image: url('back.png') ;
  background-repeat: no-repeat;
  background-size:  100%;
}